test-repo/src/main/mule/test-repo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c10c61c2-c0c0-4e15-8d5c-60e54bd1c945" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-repoFlow" doc:id="a7e56905-b054-49a7-9b59-54657f12cb7e" >
		<http:listener doc:name="Listener" doc:id="db0d57da-8992-43a2-9dfc-293fe963de04" path="/one" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="4767ab0a-4bdf-479d-946b-a3d2c276f799" message="First"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="f0bfa89f-2a61-4a92-88e5-9a77bebb2e82" />
		<logger level="INFO" doc:name="Logger" doc:id="328d1ec5-6eba-43a9-9bb0-1b68b3ae0a83" />
		<ee:transform doc:name="Transform Message" doc:id="918b8575-0d68-4f42-96dd-94fb7b0c9603" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e082e47d-b351-4dcb-95eb-7aae8df6bf11" message="message"/>
	</flow>
</mule>
