test-repo/src/main/mule/test-repo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c10c61c2-c0c0-4e15-8d5c-60e54bd1c945" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-repoFlow" doc:id="a7e56905-b054-49a7-9b59-54657f12cb7e" >
		<http:listener doc:name="Listener" doc:id="db0d57da-8992-43a2-9dfc-293fe963de04" path="/one" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="4767ab0a-4bdf-479d-946b-a3d2c276f799" message="First"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="f0bfa89f-2a61-4a92-88e5-9a77bebb2e82" />
		<logger level="INFO" doc:name="Logger" doc:id="c43912f7-8cdd-4d82-a5c1-0baed3cf4d60" message="another change"/>
	</flow>
</mule>
